---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Bootcamp from '../components/Bootcamp.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Paul Moro - Desarrollador Shopify & Ecommerce">
  <Navigation />
  <main>
    <Hero />
    <About />
    <Projects />
    <Bootcamp />
    <Contact />
  </main>
  <Footer />
</Layout>
