---
// Importamos la imagen desde la carpeta public
---

<div class="flex flex-row justify-center items-center max-w-xl mx-auto my-8 bg-white rounded-xl shadow-lg p-8 gap-8">
  <div class="flex flex-col flex-1 gap-4">
    <h1 class="text-3xl font-bold m-0">Paul Montoya</h1>
    <div class="text-gray-500 text-lg">@paulmoro</div>
    <p class="text-lg text-gray-700">Desarrollador Shopify</p>
    <p class="text text-gray-700">JS HTML CSS Tailwind Liquid Shopify Kajabi React Astro</p>
  </div>
  <div>
    <img class="w-30 h-40 rounded-lg object-cover shadow-md bg-gray-200" src="/Paul_Montoya.jpg" alt="Foto de Paul Montoya" />
  </div>
</div> 