---
import "../../public/global.css";
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-gray-100 text-gray-900 font-sans">
    <slot name="header" />
    <main class="max-w-4xl mx-auto px-4 py-8">
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>