.description{
  position: relative;
  overflow: hidden;
}

.description__main{
  display: flex;
  justify-content: space-between;
  gap: 48px;
  position: relative;
}

.description__title{
  width: 50%;
  text-transform: uppercase;
}

.description__title > h2 {
  display: flex;
}

.description__title--big{

}

.description__title--small{
  height: fit-content;
  background-color: var(--yellow-color);
}

.description__title--small > span{
  background-color: var(--white-color);
}

.description__title--small > span:last-of-type{
  padding-right: 0.25rem;
}

.description__body{
  width: 50%;
}

.description__text{
  padding: 0rem 0 1.5rem;
}

.description__cta .p__btn{
  display: flex;
}

.description__cta .p__btn span{
  margin: auto;
}

.description__cta .p__btn .icon img {
  margin: 0 0 0 0.725rem;
  height: 25px;
  transition: all 0.6s ease;
  outline: none;
  filter: invert(1);
}

.description__cta .p__btn:hover .icon img {
  filter: invert(0);
}

.description__d--box{
  border: 4px solid;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: -1;
}

.description__d--box-yellow{
  border-color: var(--yellow-color);
  top: -4.375rem;
  left: -4rem;
}

.description__d--box-gray{
  border-color: var(--gray-light-color);
  width: 100%;
  top: 50%;
  left: -100%;
  transform: translateY(-50%);
  z-index: -2;
}
