.header{
}

.header__desktop{
  padding: 1.125rem 0;
  display: flex;
  justify-content: space-between;
}

.header__desktop--left{
  display: flex;
  position: relative;
}

.header__desktop--left > .header__logo{
  position: absolute;
  height: 4rem;
  margin: 0 0 0 -0.9rem;
  top: 50%;
  transform: translateY(-50%);
}

.header__desktop--left > .header__logo img{
  height: 100%;
}

.header__desktop--left > .header__name{
  padding: 0 0 0 2rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header__desktop--right{
  display: flex;
  list-style: none;
}

.menu__link{
  margin: 0 1rem;
  position: relative;
}

.menu__link:first-of-type{
  margin-left: 0;
}

.menu__link:last-of-type{
  margin-right: 0;
}

.menu__link > .link{
  color: var(--black-color);
  text-decoration: none;
}

.menu__link > .link:hover + .line{
  width: 100%;
}

.menu__link > .line{
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  background-color: black;
}