@import url(color.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
  line-height: 22px;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Generals styles */
.p__container{
  padding: 3rem 0 3rem;
}

.p__space{
  margin: 0 auto;
  max-width: 920px;
}

.p__text--title{
  font-size: 7rem;
  font-family: 'fjalla One', sans-serif;
  line-height: 0.5;
}

.p__text--subtitle{
  font-size: 2rem;
  font-family: 'lato', sans-serif;
  line-height: 0.5;
}

.p__text--paragraph{
  font-size: 1rem;
  font-family: 'ubuntu', sans-serif;
  line-height: 0.5;
}

.p__text--gray{
  color: var(--gray-dark-color);
}
.p__text--black{
  color: var(--black-color);
}
.p__text--yellow{
  color: var(--yellow-color);
}
.p__text--white{
  color: var(--white-color);
}

.p__decoration--yellow{
  background-color: var(--yellow-color);
}
.p__decoration--gray{
  background-color: var(--gray-light-color);
}
.p__decoration--black{
  background-color: var( --black-color);
}
.p__decoration--white{
  background-color: var(--white-color);
}

.p__btn{
  border: none;
  padding: 0.75rem 1.125rem;
  min-width: 8.75rem;
  font-size: 1.2rem;
  appearance: none;
  transition: all 0.6s ease;
  outline: none;
}
.p__btn--black{
  color: var(--white-color);
  background-color: var(--black-color);
}
.p__btn--black:hover{
  border: 2px solid var(--black-color);
  color: var(--black-color);
  background-color: var(--white-color);
}

.p__input{
  border: none;
  padding: 0.75rem;
  color: var(--gray-dark-color);
  -webkit-box-shadow: 5px 5px 20px 0px rgba(97,97,97,0.5);
  -moz-box-shadow: 5px 5px 20px 0px rgba(97,97,97,0.5);
  box-shadow: 5px 5px 20px 0px rgba(97,97,97,0.5);
  background: var(--white-color);
  appearance: none;
  outline: none;
} 

.p__transition{
  transition: all 0.6s ease;
}